<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.us.mapper.UserMapper" >
	<select id="listUser" resultType="User">
		select * from profile
	</select>
	
	<select id="getUserById" parameterType="int" resultType="User">
		select * from profile where id=#{id}
	</select>
	<update id="modyfyUser" parameterType="User" >
		update profile set name=#{name},birthday=#{birthday},gender=#{gender},career=#{career},address=#{address},mobile=#{mobile} where id=#{id}
	</update>
	
</mapper>