<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.vote.mapper.UserMapper" >
  <select id="getUser" parameterType="User" resultType="User">
		select * from voteUser where 
	  	vuId=#{vuId}
	  	and
	  	vuPassword=#{vuPassword}
	</select>
	<insert id="reg" parameterType="User">
		insert into voteUser(vuId,vuUsername,vuPassword,vuEmail,vuStatus) values(seq_user.nextval,#{vuUsername},#{vuPassword},#{vuEmail},0)
	</insert>
	<select id="findEmail" parameterType="User" resultType="User">
		select * from voteUser where vuEmail=#{vuEmail}
	</select>
	<update id="" parameterType="User">
		update voteUser set vuStatus=1 where vuEmail=#{vuEmail}
	</update>
</mapper>