<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
使用映射接口的方式，命名空间的值必须映射接口的权限定名一致
 -->
<mapper namespace="com.yc.fav.mapper.TagMapper">
	<select id="getAllTags" resultType="Tag" >
		select * from tag
	</select>
	
	<select id="findTags"  parameterType="String" resultType="Tag">
		select * from tag  where tname=#{tname}
	</select>
	<insert id="insertTag" parameterType="string">
		insert into tag values(seq_tag.nextval,#{tname},1)
	</insert>
	<update id="updateCount" parameterType="Tag">
		update tag set tcount=tcount+1 where tname=#{tname}
	</update>
</mapper>